# build output
dist/

# generated data (from cache-github.ts)
public/assets/cache.xml
public/assets/github.db
public/assets/licenses.json
public/assets/summary.txt

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vscode/
